/* Popup countries ================ */

.popup-countries {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  padding-top: 45px;
  padding-right: 40px;
  padding-bottom: 70px;
  padding-left: 40px;
  border-radius: $border-radius-main;
  background-color: $color-white;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, .35);
  opacity: 0;
  transform: translateY(-40px);
  transition: all $transition-type $transition-time;
  pointer-events: none;

  @include mq("phone-large", "max") {
    padding: 20px;
    padding-right: 0;
  }
}

.popup-countries--open {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: auto;
}

.popup-countries__close {

  @include buttonReset();

  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  color: $color-gray-light;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: $color-primary-dark;
  }

  @include mq("phone-large", "max") {
    top: 13px;
    right: 13px;
    width: 20px;
    height: 20px;
  }
}

.popup-countries__title {
  margin-top: 0;
  margin-bottom: 40px;

  @include mq("phone-large", "max") {
    margin-bottom: 20px;
  }
}

.countries-list {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 100px;

  @include mq("desktop", "max") {
    margin-top: 50px;
  }

  @include mq("laptop-small", "max") {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq("tablet", "max") {
    grid-template-columns: repeat(3, 1fr);
    max-height: 40vh;
    overflow-y: auto;
  }

  @include mq("phone-large", "max") {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }

  @include mq("phone", "max") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.countries-list__link {
  display: flex;
  color: $color-gray-dark;
  font-size: 22px;
}

.countries-list__image {
  flex-shrink: 0;
}

.countries-list__text {
  margin-left: 12px;
}

/* ================ end popup countries  */
