-
  var countries = [
    {
      image: "flag-turk.svg",
      title: "Турция"
    },
    {
      image: "flag-abkhazia.svg",
      title: "Абхазия"
    },
    {
      image: "flag-austria.svg",
      title: "Австрия"
    },
    {
      image: "flag-bolgaria.svg",
      title: "Болгария"
    },
    {
      image: "flag-hungary.svg",
      title: "Венгрия"
    },
    {
      image: "flag-greek.svg",
      title: "Греция"
    },
    {
      image: "flag-egypt.svg",
      title: "Египет"
    },
    {
      image: "flag-spain.svg",
      title: "Испания"
    },
    {
      image: "flag-kipr.svg",
      title: "Кипр"
    },
    {
      image: "flag-kuba.svg",
      title: "Куба"
    },
    {
      image: "flag-latvia.svg",
      title: "Латвия"
    },
    {
      image: "flag-lithuania.svg",
      title: "Литва"
    },
    {
      image: "flag-maldives.svg",
      title: "Мальдивы"
    },
    {
      image: "flag-oae.svg",
      title: "ОАЭ"
    },
    {
      image: "flag-port.svg",
      title: "Португалия"
    },
    {
      image: "flag-russia.svg",
      title: "Россия"
    },
    {
      image: "flag-russia-krim.svg",
      title: "Россия-Крым"
    },
    {
      image: "flag-thailand.svg",
      title: "Тайланд"
    },
    {
      image: "flag-fin.svg",
      title: "Финляндия"
    },
    {
      image: "flag-france.svg",
      title: "Франция"
    },
    {
      image: "flag-swed.svg",
      title: "Швеция"
    },
    {
      image: "flag-shrilanka.svg",
      title: "Шри-Ланка"
    },
    {
      image: "flag-check.svg",
      title: "Чехия"
    },
    {
      image: "flag-montenegro.svg",
      title: "Черногория"
    },
    {
      image: "flag-estonia.svg",
      title: "Эстония"
    }
  ]

mixin countryItem(image, title, href="#")
  li.countries-list__item
    a(href= href, class="countries-list__link")
      img(src="images/flags/" + image, alt= title, width="29px", height="30px" class="countries-list__image")
      span.countries-list__text= title

#popup-countries.popup-countries
  //- button close
  button(class="popup-countries__close js-button-countries-close"): +icon("close")
  h2.popup-countries__title Выберите страну
  ul.popup-countries__list.countries-list
    - for(var x = 0; x < countries.length; x++)
      +countryItem( countries[x].image, countries[x].title)

