//- ui section
section.ui-section
  .ui-section__container.container
    .ui-typography
      h1.h1 H1 / 54px / Proxima Nova
      h2.h2 H2 / 40px / Proxima Nova
      h3.h3 H3 / 32px / Proxima Nova
      h4.h4 H4 / 24px / Proxima Nova
      p What is Lorem Ipsum?
      p Lorem <mark> Ipsum </mark> is simply dummy text of the <a hre="#">printing</a> and <a href="#">typesetting</a> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
      blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
