include ../components/card/card

//- ui section
section.ui-section
  .ui-section__container.container
    div(style="width: 300px")
      +cardComponent(
        "#",
        "alaniya.jpg",
        "Алания",
        "от 23 000 руб.",
        "Orange County Resort Alanya (ex.Vikingen Quality Resort) 5*",
        "за человека на 7 ночей"
      )
