/* Consultant popup ================ */

.consultant-popup {
  display: flex;

  @include mq("tablet-small", "max") {
    flex-direction: column;
  }
}

.consultant-popup__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-primary-dark;
  text-align: left;
}

.consultant-popup__image {
  flex-shrink: 0;

  @include mq("tablet-large", "max") {
    width: 45%;
  }

  @include mq("tablet-small", "max") {
    display: none;
  }
}

.consultant-popup__title {
  margin: 0 0 15px;
}

.consultant-popup__group {
  margin-top: 40px;

  @include mq("tablet", "max") {
    margin-top: 20px;
  }
}
/* ================ end consultant popup */
