// popup by design
#popup-special.popup.popup--special
  .popup__overlay
  //- container
  .popup__container
    //close
    button(type="button", data-popup="close", class="popup__close"): +icon("close")
    //- content
    .popup__content
      .consultant-popup
        form#form-consultant.consultant-popup__form
          h2.consultant-popup__title Нужна помощь с выбором?
          .consultant-popup__subtitle Оставьте свой телефон, и мы Вам перезвоним!
          .consultant-popup__group
            +inputComponent(
              "text",
              "+7 (___) ___ - ___"
            )(class="form-input--phone-large form-input--dark js-mask-phone")
          .consultant-popup__group
            +buttonComponent(
              "Заказать звонок",
              "m",
              "secondary"
            )(class="consultant__button" type="submit")
        .consultant-popup__image
          img(src="images/consultant.png" alt="Консультант")

