// popup
#popup-review.popup
  .popup__overlay
  //- container
  .popup__container
    //close
    button(type="button", data-popup="close", class="popup__close"): +icon("close")
    //- content
    .popup__content
      .popup__header
        h2.popup__title Оставьте ваш отзыв
      include ../../components/form/form_feedback
