/* Section wrapper ================ */

.section-wrapper {
  background-image: url("../images/mountains_background.jpg");
  background-repeat: no-repeat;
  background-position: 0 540px;
  background-size: contain;

  @include mq("desktop", "max") {
    background-position: 0 460px;
  }

  @include mq("laptop-small", "max") {
    background-position: 0 500px;
  }

  @include mq("tablet", "max") {
    background-position: 0 560px;
  }
}
/* ================ end section wrapper */
