//- post
mixin postComponent(image, title="What is Lorem Ipsum?", text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.", href="#")
  a(href= href, class="post")&attributes(attributes)
    .post__image
      img(src="uploads/" + image, alt= title)
    .post__content
      .post__title= title
      .post__text= text
