/* stylelint-disable */
.icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-left {
  font-size:(53/10)*1rem;
  width:(53/53)*1em;
}
.icon-arrow-right {
  font-size:(53/10)*1rem;
  width:(53/53)*1em;
}
.icon-caret {
  font-size:(12/10)*1rem;
  width:(22/12)*1em;
}
.icon-caret-left {
  font-size:(22/10)*1rem;
  width:(12/22)*1em;
}
.icon-caret-right {
  font-size:(22/10)*1rem;
  width:(12/22)*1em;
}
.icon-close {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-currency {
  font-size:(26/10)*1rem;
  width:(10/26)*1em;
}
.icon-entrance {
  font-size:(27/10)*1rem;
  width:(27/27)*1em;
}
.icon-facebook {
  font-size:(27/10)*1rem;
  width:(15/27)*1em;
}
.icon-heart {
  font-size:(27/10)*1rem;
  width:(30/27)*1em;
}
.icon-info {
  font-size:(25/10)*1rem;
  width:(25/25)*1em;
}
.icon-instagram {
  font-size:(29/10)*1rem;
  width:(29/29)*1em;
}
.icon-local {
  font-size:(30/10)*1rem;
  width:(21/30)*1em;
}
.icon-map {
  font-size:(27/10)*1rem;
  width:(27/27)*1em;
}
.icon-menu {
  font-size:(29/10)*1rem;
  width:(47/29)*1em;
}
.icon-phone {
  font-size:(27/10)*1rem;
  width:(27/27)*1em;
}
.icon-vk {
  font-size:(20/10)*1rem;
  width:(36/20)*1em;
}
/* stylelint-enable */
