/* Typography ======================= */

@import "variables";

:root {

  @include mq("laptop-small", "max") {
    font-size: 14px;
  }

  @include mq("tablet", "max") {
    font-size: 12px;
  }
}

body {
  color: $color-text;
  font-weight: $text-weight-regular;
  font-size: $text-size-xs;
  line-height: $line-height-main;
  font-family: $font-family-main;
}

h1,
.h1 {
  color: $color-title;
  font-weight: $text-weight-regular;
  font-size: $title-size-h1;
  line-height: $line-height-title;

  @include mq("tablet", "max") {
    font-size: 45px;
  }

  @include mq("tablet-small", "max") {
    font-size: 40px;
  }

  @include mq("phone-large", "max") {
    font-size: 36px;
  }
}

h2,
.h2 {
  color: $color-title;
  font-weight: $text-weight-bold;
  font-size: $title-size-h2; // 40
  line-height: $line-height-title;

  @include mq("tablet-small", "max") {
    font-size: 36px;
  }
}

h3,
.h3 {
  color: $color-title;
  font-weight: $text-weight-bold;
  font-size: $title-size-h3;
  line-height: $line-height-title;
}

h4,
.h4 {
  color: $color-title;
  font-weight: $text-weight-bold;
  font-size: $title-size-h4;
  line-height: $line-height-title;
}

p {
  margin-top: 0;
  line-height: $line-height-main;
}

blockquote {
  padding-right: 10px;
  padding-left: 12px;
  margin-right: 0;
  margin-left: 0;
  border-left: 4px solid $color-secondary;
  font-weight: $text-weight-bold;
  font-size: $text-size-xxs;
  line-height: 1.4;
}

a {
  color: $color-secondary;
  line-height: $line-height-main;
  text-decoration: none;

  &:hover {
    color: darken($color-secondary, 10%);
    text-decoration: underline;
  }
}
/* ================ end typography  */
