@import "functions";

// Global variables

// Colors
$color-black: #000000;

$color-white: #ffffff;
$color-white-dark: #f4f6f5;

$color-gray-lighten: #d2d2d2;
$color-gray-light: #959595;
$color-gray: #706f6f;
$color-gray-dark: #3e3d40;

$color-primary: #0b4091;
$color-primary-dark: #13216a;

$color-secondary-light: #7bb833;
$color-secondary: #61b258;

$color-text: $color-gray-dark;
$color-title: $color-primary-dark;

$color-error: #e91e63;

$color-background-body: $color-white;

// Typography
$font-family-main: "Proxima Nova";

$text-size-xxl: 54px;
$text-size-xl: 40px;
$text-size-l: 34px;
$text-size-m: 24px;
$text-size-s: 20px;
$text-size-xs: 18px;
$text-size-xxs: 16px;

$title-size-h1: $text-size-xxl;
$title-size-h2: $text-size-xl;
$title-size-h3: $text-size-l;
$title-size-h4: $text-size-m;
$title-size-h5: $text-size-s;
$title-size-h6: $text-size-xs;

$line-height-main: 1.5;
$line-height-title: 1.5;

$text-weight-regular: 400;
$text-weight-semibold: 600;
$text-weight-bold: 700;

// Borders
$border-radius-main: 10px;

// misc ------------------------
$box-shadow-main: 1px 1px 10px rgba(0, 0, 0, .21);

$transition-time: .375s;
$transition-type: ease-in-out;

$container-max-width-sm: 768px;
$container-max-width-lg: 1024px;
$container-max-width-xl: 1280px;

// breakpoints ------------------------
$breakpoints: (
  "phone-small": 320px,
  "phone": 440px,
  "phone-large": 600px,
  "tablet-small": 768px,
  "tablet": 1024px,
  "tablet-large": 1200px,
  "laptop-small": 1280px,
  "laptop": 1366px,
  "desktop": 1600px,
  "desktop-large": 1920px,
);

// Z-index
$z-layers: (
  back: -1,
  default: 1,
  header: 5,
  menu: 4,
  popup: 665
);
