// Footer --------------

// footer top --------------------
.footer {
  color: $color-white;
  background-color: $color-primary;

  @include mq("tablet-small", "max") {
    text-align: center;
  }
}

.footer__top {
  padding-top: 74px;
  padding-bottom: 74px;

  @include mq("tablet", "max") {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include mq("tablet-small", "max") {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__first-column {

  @include mq("tablet", "max") {
    order: 4;
    margin-top: 20px;
  }

  @include mq("tablet-small", "max") {
    margin-top: 0;
  }
}

// box currency --------------------
.box-currency {
  position: relative;
  display: inline-block;
  padding: 20px;
  border-radius: $border-radius-main;
  color: $color-gray-dark;
  background-color: $color-white;

  @include mq("tablet", "max") {
    min-width: 200px;
  }
}

.box-currency__icon {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 25px;
  height: 25px;
  color: $color-primary;
}

.box-currency__title {
  margin-bottom: 20px;
  font-weight: $text-weight-semibold;
  font-size: $text-size-s;
}

.box-currency__item {

  + .box-currency__item {
    margin-top: 5px;
  }
}
// -------------------- end box currency

// footer list --------------------

.footer-list {

  @include mq("tablet-small", "max") {
    margin-bottom: 20px;
  }
}

.footer-list__item {

  + .footer-list__item {
    margin-top: 20px;
  }
}

.footer-list__link {
  color: $color-white;

  b {
    font-size: $text-size-s;
  }
}
// -------------------- end footer list
// -------------------- end footer top

// footer bottom --------------------
.footer__bottom {
  padding-top: 74px;
  padding-bottom: 140px;
  border-top: 1px solid $color-white;

  @include mq("tablet", "max") {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include mq("tablet-small", "max") {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.company-info {
  display: flex;

  @include mq("tablet-small", "max") {
    flex-direction: column;
    align-items: center;
  }
}

.company-info__logo {
  flex-shrink: 0;
  margin-right: 35px;

  @include mq("tablet-small", "max") {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.company-info__text {
  padding-right: 20px;

  @include mq("tablet", "max") {
    padding-right: 0;
  }
}

.company-info__social {
  margin-top: 55px;

  @include mq("tablet", "max") {
    margin-top: 10px;
  }
}

.footer__container-payment {

  @include mq("tablet", "max") {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  @include mq("tablet-small", "max") {
    flex-direction: column;
    align-items: center;
  }
}

.social-list {
  display: flex;
  align-items: center;

  @include mq("tablet-small", "max") {
    justify-content: center;
  }
}

.social-list__text {
  margin-right: 30px;
}

.social-list__link {
  display: inline-flex;
  color: $color-white;

  + .social-list__link {
    margin-left: 25px;
  }

  .icon-vk {
    width: 36px;
    height: 20px;
  }

  .icon-instagram {
    width: 29px;
    height: 29px;
  }

  .icon-facebook {
    width: 15px;
    height: 28px;
  }
}

.footer__payment {
  margin-top: 30px;

  @include mq("tablet", "max") {
    align-items: flex-start;
    margin-top: 0;
  }

  @include mq("tablet-small", "max") {
    margin-top: 20px;
  }
}

.payment-info {
  display: flex;
  flex-direction: column;

  @include mq("tablet", "max") {
    max-width: 300px;
  }
}

.payment-info__list {
  display: flex;
  align-items: center;
}

.payment-info__title {
  margin-bottom: 10px;
}

.payment-info__item {
  width: calc(25% - 15px);

  & + .payment-info__item {
    margin-left: 15px;
  }
}
// -------------------- end footer bottom
// -------------- end footer
