// footer
footer.footer.page__footer
  .footer_container.container
    //- top
    .row.footer__top
      .col-sm-6.col-md-8.col-lg-3.footer__first-column
        // currency box
        .box-currency
          +icon("info", "box-currency__icon")
          .box-currency__title Курс валют <br/> 1 марта 2020
          .box-currency__item 1 USD = 69.2054 руб
          .box-currency__item 1 EUR = 77.7385 руб
      .col-sm-6.col-md-4.col-lg-3
        ul.footer-list
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link: b Туроператор Лорис
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Адреса и контакты
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link График работы
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link О компании
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Работа в компании
      .col-sm-6.col-md-4.col-lg-3
        ul.footer-list
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link: b Информация
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Виза
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Корпоративным клиентам
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Политика конфиденциальности персональных данных
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Страхование
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Топливный сбор
      .col-sm-6.col-md-4.col-lg-3
        ul.footer-list
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link: b Туристам
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Личный кабинет туриста
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Туры в кредит
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Условия сотрудничества
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Рекламные туры
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Взаиморасчеты
          li.footer-list__item: a(href="#" class="footer-list__link").footer-list__link Выдача документов
    //- bottom
    .row.footer__bottom
      .col-lg-9
        .footer__description.company-info
          img(src="images/logo.svg" class="company-info__logo" width="119px" height="68px")
          .company-info__text
            p «Лорис» — первый отечественный туроператор. Интурист ведет свою деятельность с 1929 года. Став однажды символом отечественного туризма, «Лорис» и сейчас уверенно удерживает лидирующие позиции в туристической отрасли страны.
            p Официальный сайт туроператора по выездному и внутреннему туризму — www.loris.ru <br/> Официальный сайт туроператора по въездному туризму — www.loris.com
            p «Лорис» © 2020 Все права защищены.
            .company-info__social.social-list
              .social-list__text Мы в соц.сетях:
              a(href="#" class="social-list__link" rel="nofollow" target="_blank" title="vk"): +icon("vk")
              a(href="#" class="social-list__link" rel="nofollow" target="_blank" title="instagram"): +icon("instagram")
              a(href="#" class="social-list__link" rel="nofollow" target="_blank" title="facebook"): +icon("facebook")
      .col-lg-3.footer__container-payment
        form(
          id="form-subscribe"
          class="form form--subscribe footer__form"
        )
          .form__group
            +inputComponent(
              "email",
              "Введите Ваш E-Mail"
            )(class="js-mask-email" name="form-subscribe-email" data-msg="Заполните это поле")
          .form__group
            +buttonComponent(
              "Подписаться на рассылку",
              "secondary"
            )(class="form__button button--full-width" type="submit")
            a(href="#" rel="nofollow" target="_blank" class="form__link-more") *Подробнее
        .footer__payment.payment-info
          .payment-info__title Мы принимаем оплату online:
          .payment-info__list
            .payment-info__item: img(src="images/icon_pay_visa.svg" alt="visa" width="58px" height="20px")
            .payment-info__item: img(src="images/icon_pay_mastercard.svg" alt="mastercard" width="52px" height="41px")
            .payment-info__item: img(src="images/icon_pay_union.svg" alt="union" width="64px" height="40px")
            .payment-info__item: img(src="images/icon_pay_world.svg" alt="world" width="70px" height="20px")
