include ../../components/card/card

mixin sectionCatalog(sectionId, sectionTitle)
  // section catalog
  section(id= sectionId, class="section-catalog")
    .section-catalog__container.container
      h2.section-catalog__title= sectionTitle
      .section-catalog__carousel.card-carousel.js-carousel-cards
        - for(i = 0; i < 3; i++)
          //- item
          .card-carousel__item
            +cardComponent(
              "#",
              "alaniya.jpg",
              "Алания",
              "от 23 000 руб.",
              "Orange County Resort Alanya (ex.Vikingen Quality Resort) 5*",
              "за человека на 7 ночей"
            )
          //- item
          .card-carousel__item
            +cardComponent(
              "#",
              "kemer.jpg",
              "Кемер",
              "от 27 000 руб.",
              "Orange County Resort Hotel (Kemer) 5*",
              "за человека на 7 ночей"
            )
          //- item
          .card-carousel__item
            +cardComponent(
              "#",
              "belek.jpg",
              "Белек",
              "от 32 000 руб.",
              "Orange County Resort Hotel Belek 5*",
              "за человека на 7 ночей"
            )
          //- item
          .card-carousel__item
            +cardComponent(
              "#",
              "side.jpg",
              "Сиде",
              "от 35 000 руб.",
              "Calido Maris Hotel 5*",
              "за человека на 7 ночей"
            )

//- #central-district
+sectionCatalog( "#central-district", "Центральный округ")
//- #northwest-district
+sectionCatalog( "#northwest-district", "Северо-Западный округ")
//- #southern-district
+sectionCatalog( "#southern-district", "Южный округ")
//- #north-caucasus-district
+sectionCatalog( "#north-caucasus-district", "Северо-Кавказский округ")
//- #volga-region
+sectionCatalog( "#volga-region", "Приволжский округ")
//- #ural-district
+sectionCatalog( "#ural-district", "Уральский округ")
//- #siberian-district
+sectionCatalog( "#siberian-district", "Сибирский округ")
//- #far-eastern-district
+sectionCatalog( "#far-eastern-district", "Дальневосточный округ")
