@import "../../core/variables";

// Menu --------------

$menu-background-color: $color-primary;

$menu-link-color: $color-white;
$menu-link-color-hover: $color-primary;
$menu-link-background-color-hover: $color-white;
$menu-link-font-size: 30px;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z(menu);
  display: flex;
  width: 100%;
  height: calc(100% - #{$header-height});
  overflow: hidden;
  background-color: $menu-background-color;
  opacity: 0;
  transform: translateY(-100%);
  transition: all $transition-type $transition-time;

  @include mq("laptop-small", "max") {
    height: calc(100% - 85px);
  }

  @include mq("tablet", "max") {
    height: calc(100% - 70px);
  }

  @include mq("phone", "max") {
    height: calc(100% - 56px);
  }
}

.menu--open {
  top: $header-height;
  opacity: 1;
  transform: translateY(0%);
  transition: all $transition-type $transition-time;

  @include mq("laptop-small", "max") {
    top: 85px;
  }

  @include mq("tablet", "max") {
    top: 70px;
  }

  @include mq("phone", "max") {
    top: 56px;
  }
}

.menu__left {
  flex-shrink: 0;
  padding-top: 45px;
  padding-bottom: 45px;

  @include mq("laptop-small", "max") {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include mq("tablet-small", "max") {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.menu__right {
  flex-grow: 1;
  background-color: $color-white;

  @include mq("tablet-small", "max") {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .3s ease;

    &.menu__right--open-on-mobile {
      transform: translateX(0%);
    }
  }
}

.menu__list {
  height: 100%;
}

.menu__item {

  @include mq("tablet-small", "max") {
    position: relative;
  }
}

.menu__link {
  position: relative;
  display: flex;
  padding-top: 20px;
  padding-right: 45px;
  padding-bottom: 20px;
  padding-left: calc((100vw - #{$container-max-width-xl} + 20px) / 2);
  color: $menu-link-color;
  font-size: $menu-link-font-size;

  &:hover {
    text-decoration: none;
  }

  @include mq("laptop", "max") {
    font-size: 24px;
  }

  @include mq("laptop-small", "max") {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: calc((100vw - #{$container-max-width-lg} + 20px) / 2);
  }

  @include mq("tablet", "max") {
    padding-left: calc((100vw - #{$container-max-width-sm} + 20px) / 2);
    font-size: 20px;
  }

  @include mq("tablet-small", "max") {
    padding-left: 20px;
  }
}

.menu__button-dropdown {

  @include mq("tablet-small") {
    display: none;
  }

  @include buttonReset();

  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 18px;
  color: $color-white;

  .icon {
    width: 16px;
    height: 16px;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: $color-secondary;
  }
}

.menu__link--active {
  color: $menu-link-color-hover;
  background-color: $menu-link-background-color-hover;

  + .menu__button-dropdown {
    color: $color-primary-dark;

    &:active {
      color: $color-secondary;
    }
  }
}

.button-menu__text {

  @include mq("phone", "max") {
    display: none;
  }
}

.menu__back-button {

  @include mq("tablet-small") {
    display: none;
  }

  @include buttonReset();

  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  text-align: left;
  background: #f7f7f7;

  .icon {
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: $color-secondary;
  }
}

.submenu {
  display: none;
  height: 100%;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 55px;
  overflow-x: hidden;
  overflow-y: auto;

  @include mq("laptop-small", "max") {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 45px;
  }

  @include mq("tablet", "max") {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
  }

  @include mq("laptop-small", "max") {
    height: calc(100% - 60px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: $color-white;
  }
}

.submenu--open {
  display: block;
}

.submenu__item {
  padding-right: 20px;

  + .submenu__item {

    .submenu__link {
      padding-top: 20px;

      @include mq("laptop-small", "max") {
        padding-top: 15px;
      }
    }
  }
}

.submenu__link {
  display: inline-flex;
  color: $color-primary;
  font-size: 22px;
  transition: .1s ease;


  @include mq("tablet-small") {

    &:hover {
      font-size: 24px;
      text-decoration: none;
    }
  }

  @include mq("laptop-small", "max") {
    font-size: 20px;
  }
}
// -------------- end menu
