// menu
#menu.menu
  //- left
  .menu__left
    //- list
    ul.menu__list
      //- item
      li.menu__item
        a(href="#" class="menu__link menu__link--active" data-submenu="#submenu-1") Туроператор Лорис
        button.menu__button-dropdown(data-submenu="#submenu-1")
          +icon("caret-right")
      //- item
      li.menu__item
        a(href="#" class="menu__link" data-submenu="#submenu-2") Инфорация
        button.menu__button-dropdown(data-submenu="#submenu-2")
          +icon("caret-right")
      //- item
      li.menu__item
        a(href="#" class="menu__link" data-submenu="#submenu-3") Туристам
        button.menu__button-dropdown(data-submenu="#submenu-3")
          +icon("caret-right")

  //- right
  .menu__right
    button.menu__back-button
      +icon("caret-left")
      | Назад
    //- submenu
    ul#submenu-1.menu__sublist.submenu.submenu--open
      li.submenu__item: a(href="#" class="submenu__link") Адреса и контакты
      li.submenu__item: a(href="#" class="submenu__link") График работы
      li.submenu__item: a(href="#" class="submenu__link") О компании
      li.submenu__item: a(href="#" class="submenu__link") Работа в компании
    //- submenu
    ul#submenu-2.menu__sublist.submenu
      li.submenu__item: a(href="#" class="submenu__link") Видеогалерея
      li.submenu__item: a(href="#" class="submenu__link") Виза
      li.submenu__item: a(href="#" class="submenu__link") Доплаты за бизнес-класс
      li.submenu__item: a(href="#" class="submenu__link") Инструкция по работе с новым сайтом
      li.submenu__item: a(href="#" class="submenu__link") Информация об аэропортах
      li.submenu__item: a(href="#" class="submenu__link") Информация по авиакомпаниям
      li.submenu__item: a(href="#" class="submenu__link") Конкретизация рейса и другие доплаты
      li.submenu__item: a(href="#" class="submenu__link") Корпоративным клиентам
      li.submenu__item: a(href="#" class="submenu__link") Наши каталоги
      li.submenu__item: a(href="#" class="submenu__link") Проверка статуса заказа
      li.submenu__item: a(href="#" class="submenu__link") Проводы в аэропорту
      li.submenu__item: a(href="#" class="submenu__link") Страхование
    //- submenu
    ul#submenu-3.menu__sublist.submenu
      li.submenu__item: a(href="#" class="submenu__link") Онлайн кабинет туриста
      li.submenu__item: a(href="#" class="submenu__link") Поиск/бронирование
      li.submenu__item: a(href="#" class="submenu__link") Ценное мнение: с Вас отзыв - с нас подарок!
      li.submenu__item: a(href="#" class="submenu__link") Заказ тура
      li.submenu__item: a(href="#" class="submenu__link") Где купить наши туры
      li.submenu__item: a(href="#" class="submenu__link") Оплата тура пластиковой картой
      li.submenu__item: a(href="#" class="submenu__link") Подарочная карта
      li.submenu__item: a(href="#" class="submenu__link") Расширенное страхование
      li.submenu__item: a(href="#" class="submenu__link") Способы оплаты для Туристов
      li.submenu__item: a(href="#" class="submenu__link") Туры в кредит
