/* Special ================ */

.special {
  padding-top: 140px;

  @include mq("desktop", "max") {
    padding-top: 40px;
  }
}

.special__content {
  position: relative;
}

.special__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @include mq("tablet", "max") {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  @include mq("tablet-small", "max") {
    display: block;
    text-align: center;
  }
}

.special__title {
  flex-grow: 1;
  margin-top: 0;

  @include mq("tablet-small") {

    @include textTruncate();
  }
}

.special__button {
  flex-shrink: 0;
  min-width: 200px;
  margin-left: auto;

  @include mq("tablet-small", "max") {
    margin: auto;
  }
}

.card-carousel {

  @include mq("tablet-small", "max") {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  .slick-track {
    margin-right: 0;
    margin-left: 0;
  }
}

.card-carousel__item {
  margin: 10px 8px;

  &:focus {
    outline: none;
  }
}
/* ================ end special */
