// Hotel page --------------

@import "hotel_tools/hotel_tools";

.hotel {
  padding-top: 140px;

  @include mq("desktop", "max") {
    padding-top: 60px;
  }
}

.hotel__title {
  margin: 0 0 20px;
  color: $color-primary-dark;
  font-weight: $text-weight-bold;
  font-size: $text-size-xl;

  @include mq("tablet-small", "max") {
    margin-bottom: 10px;
  }
}

.hotel__metadata {
  display: flex;

  @include mq("tablet-small", "max") {
    flex-direction: column;
  }
}

.hotel__tools {
  margin-left: auto;

  @include mq("tablet-small", "max") {
    margin-top: 10px;
    margin-left: 0;
  }
}

.hotel__header {
  position: relative;
  z-index: 2;

  & + .hotel__content {
    margin-top: 55px;

    @include mq("laptop-small", "max") {
      margin-top: 15px;
    }
  }
}

.hotel__content {
  padding-bottom: 150px;

  @include mq("laptop-small", "max") {
    padding-bottom: 80px;
  }

  @include mq("tablet-small", "max") {
    padding-bottom: 40px;
  }
}

.hotel__map {
  height: 560px;

  @include mq("laptop-small", "max") {
    height: 412px;
  }

  @include mq("phone-large", "max") {
    height: 250px;
  }
}

.hotel__photos {

  @include mq("laptop-small", "max") {
    order: -1;
    margin-bottom: 20px;
  }
}

.gallery-carousel__item {
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-carousel__preview {

  .gallery-carousel__item {
    width: 100%;
    height: 443px;

    @include mq("tablet-small", "max") {
      height: 300px;
    }

    @include mq("phone-large", "max") {
      height: 250px;
    }
  }

  .slick-next,
  .slick-prev {
    width: 35px;
    height: 35px;
    opacity: 1;

    &:hover {
      opacity: .7;
    }
  }

  .slick-next {
    right: 20px;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='53' fill='%2361b258'%3E%3Cpath d='M26.5 0C11.934 0 0 11.84 0 26.5S11.84 53 26.5 53 53 41.16 53 26.5C53 11.934 41.16 0 26.5 0zm0 49.336c-12.594 0-22.742-10.242-22.742-22.742C3.758 14.098 14 3.758 26.5 3.758S49.336 14 49.336 26.5 39.094 49.336 26.5 49.336zm0 0'/%3E%3Cpath d='M36.086 25.371c.375.379.562.754.562 1.317 0 .562-.187.94-.562 1.316L24.059 40.125c-.754.754-1.977.754-2.633 0-.754-.75-.754-1.973 0-2.629l10.71-10.809-10.804-10.804c-.754-.754-.754-1.977 0-2.633a1.853 1.853 0 011.316-.563c.47 0 .938.188 1.313.563zm0 0'/%3E%3C/svg%3E");
  }

  .slick-prev {
    left: 20px;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='53' fill='%2361b258'%3E%3Cpath d='M26.5 53C41.066 53 53 41.16 53 26.5S41.16 0 26.5 0 0 11.84 0 26.5C0 41.066 11.84 53 26.5 53zm0-49.336c12.594 0 22.742 10.242 22.742 22.742C49.242 38.902 39 49.242 26.5 49.242S3.664 39 3.664 26.5 13.906 3.664 26.5 3.664zm0 0'/%3E%3Cpath d='M16.914 27.629c-.375-.379-.562-.754-.562-1.317 0-.562.187-.94.562-1.316l12.027-12.121c.754-.754 1.977-.754 2.633 0 .754.75.754 1.973 0 2.629l-10.71 10.809 10.804 10.804c.754.754.754 1.977 0 2.633a1.853 1.853 0 01-1.316.563 1.85 1.85 0 01-1.313-.563zm0 0'/%3E%3C/svg%3E");
  }
}

.gallery-carousel__thumbnails {

  .gallery-carousel__item {
    position: relative;
    height: 100px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-secondary;
      opacity: 0;
    }

    &.slick-current {

      &::after {
        opacity: .5;
      }
    }
  }
}

.hotel__local {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq("laptop-small", "max") {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.hotel-address {

  p {
    font-size: $text-size-xs;
  }

  .hotel-address__title {
    margin: 0 0 25px;
    color: $color-gray-dark;
    font-weight: $text-weight-bold;
    font-size: $text-size-s;
  }
}

.advantages__list {
  text-align: center;

  @include mq("tablet-small", "max") {

    &:nth-child(n+3) {
      margin-top: 40px;
    }
  }
}

.hotel__advantages {
  padding-bottom: 60px;
}

.advantages__title {
  margin-bottom: 20px;
  color: $color-primary-dark;
  font-weight: $text-weight-bold;
  font-size: $text-size-s;
}

.advantages__item {
  margin-top: 16px;
  color: $color-gray-dark;
}

.hotel__reviews {
  border-top: 2px solid $color-primary;
}

.section-reviews {
  padding-top: 60px;

  @include mq("laptop-small", "max") {
    padding-top: 30px;
  }
}

.section-reviews__title {
  margin: 0;
}

.section-reviews__header {
  display: flex;

  @include mq("tablet-small", "max") {
    flex-direction: column;
  }
}

.section-reviews__button {
  margin-left: auto;

  @include mq("tablet-small", "max") {
    margin-top: 10px;
    margin-left: 0;
  }
}

.section-reviews__item {
  margin-top: 65px;

  @include mq("laptop-small", "max") {
    margin-top: 40px;
  }
}

.user-review__title {
  font-weight: $text-weight-bold;
  font-size: $text-size-s;
}

// -------------- end hotel page
