include ../../lib/components/breadcrumb/breadcrumb

// hotel
section.hotel
  .hotel__container.container
    //- header
    header.hotel__header
      h1.hotel__title Отель "Богема"
      .hotel__metadata
        +breadcrumbs(['Главная', 'Каталог', 'Россия'], 'Богема отель')
        include hotel_tools/hotel_tools
    //- content
    .hotel__content
      .row
        .hotel__map.col-lg-6
          script(async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4e0748d67c39885dcb39e9c3912e0f5cc892b9361f636f64660b41dc7306a7a5&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
        .hotel__photos.gallery-carousel.col-lg-6
          .js-gallery-preview.gallery-carousel__preview
            - for(var x = 0; x < 8; x++)
              .gallery-carousel__item
                img(src="uploads/hotel_preview.jpg" alt="Превью")
          .js-gallery-thumbnails.gallery-carousel__thumbnails
            - for(var x = 0; x < 8; x++)
              .gallery-carousel__item
                img(src="uploads/hotel_thumbnail.jpg" alt="Миниатюра")
      .hotel__description
        section.hotel__local.hotel-address
          p.hotel-address__title Расположение
          p Отель "Богема" - уникальное место для тех, кто хочет провести незабываемые дни отдыха на море.
          p Отель "Богема" - это изысканный, но не претенциозный сервис, это продуманный до мелочей интерьер, это эмоции, которые Вы увезете с собой!
          p Отель «Богема» расположен в центре города. От аэропорта г. Анапа в 20 км., от ж/д вокзала г. Анапа в 10 км, от ж/д станции «Тоннельная» в 30 км, от автовокзала в 1 км.
        section.hotel__advantages.advantages.row
          .advantages__list.col-xs-6.col-sm-3
            .advantages__title Тип отеля
            .advantages__item VIP
            .advantages__item Городской отель
            .advantages__item Недалеко от центра города
          .advantages__list.col-xs-6.col-sm-3
            .advantages__title В отеле
            .advantages__item Парковка
            .advantages__item Мини-маркет
            .advantages__item Прокат авто / скутера
          .advantages__list.col-xs-6.col-sm-3
            .advantages__title В номере
            .advantages__item Wi-Fi в номере
            .advantages__item Детская кровать (по запросу)
            .advantages__item Кондиционер
          .advantages__list.col-xs-6.col-sm-3
            .advantages__title Пляж
            .advantages__item Галечный пляж
            .advantages__item Песчаный пляж
            .advantages__item Плавный спуск в воду
        section.hotel__reviews.section-reviews
          .section-reviews__header
            h2.section-reviews__title Отзывы
            +buttonComponent(
              "Оставить отзыв",
              "s",
              "secondary"
            )(data-popup="open" data-popup-id="#popup-review" class="section-reviews__button")
          .section-reviews__item.user-review
            p.user-review__title Николай Николаевич
            p.user-review__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
          .section-reviews__item.user-review
            p.user-review__title Николай Николаевич
            p.user-review__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
