/* Section catalog ================ */

$section-padding: 68px;

.section-catalog {
  padding-top: $section-padding * 2;
  padding-bottom: $section-padding;

  & + .section-catalog {
    padding-top: $section-padding;
  }

  @include mq("tablet-large", "max") {
    $section-padding: 38px;

    padding-top: $section-padding * 2;
    padding-bottom: $section-padding;

    & + .section-catalog {
      padding-top: $section-padding;
    }
  }

  @include mq("tablet-small", "max") {
    $section-padding: 20px;

    padding-top: $section-padding * 2;
    padding-bottom: $section-padding;
    text-align: center;

    & + .section-catalog {
      padding-top: $section-padding;
    }
  }
}

.section-catalog__title {
  margin: 0 0 20px;
}

.page--catalog {

  .section-catalog {

    &:last-child {
      padding-bottom: $section-padding * 3;

      @include mq("tablet-large", "max") {
        $section-padding: 38px;

        padding-bottom: $section-padding * 3;
      }
    }
  }
}
/* ================ end section catalog */
