include ../../components/card/card

mixin sectionCatalog(sectionId, sectionTitle)
  // section catalog
  section(id= sectionId, class="section-catalog")
    .section-catalog__container.container
      h2.section-catalog__title= sectionTitle
      .section-catalog__carousel.card-carousel.js-carousel-cards
        block

//- #domestic-flights
+sectionCatalog( "#domestic-flights", "Внутренний туризм")
  //- item
  .card-carousel__item
    +cardComponent(
      "#",
      "abkhazia.jpg",
      "Абхазия",
      "от 23 000 руб."
    )(class="card--compact")
  //- item
  .card-carousel__item
    +cardComponent(
      "#",
      "russia.jpg",
      "Россия",
      "от 27 000 руб."
    )(class="card--compact")
  //- item
  .card-carousel__item
    +cardComponent(
      "#",
      "krim.jpg",
      "Роосия-Крым",
      "от 32 000 руб."
    )(class="card--compact")

//- #pribaltika
+sectionCatalog( "#pribaltika", "Прибалтика")
  //- item
  .card-carousel__item
    +cardComponent(
      "#",
      "latvia.jpg",
      "Латвия",
      "от 23 000 руб."
    )(class="card--compact")
  //- item
  .card-carousel__item
    +cardComponent(
      "#",
      "lithuania.jpg",
      "Литва",
      "от 27 000 руб."
    )(class="card--compact")
  //- item
  .card-carousel__item
    +cardComponent(
      "#",
      "estonia.jpg",
      "Эстония",
      "от 32 000 руб."
    )(class="card--compact")

//- #eastern-europe
+sectionCatalog( "#eastern-europe", "Восточная Европа")
  - for(i = 0; i < 2; i++)
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "serbia.jpg",
        "Сербия",
        "от 23 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "slovakia.jpg",
        "Словакия",
        "от 27 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "slovenia.jpg",
        "Словения",
        "от 32 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "montenegro.jpg",
        "Черногория",
        "от 32 000 руб."
      )(class="card--compact")

//- #western-europe
+sectionCatalog( "#western-europe", "Западная Европа")
  - for(i = 0; i < 2; i++)
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "austria.jpg",
        "Австрия",
        "от 23 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "andorra.jpg",
        "Андорра",
        "от 27 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "germany.jpg",
        "Германия",
        "от 32 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "spain.jpg",
        "Испания",
        "от 32 000 руб."
      )(class="card--compact")

//- #northern-europe
+sectionCatalog( "#northern-europe", "Северная Европа")
  - for(i = 0; i < 2; i++)
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "united_kingdom.jpg",
        "Великобритания",
        "от 23 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "denmark.jpg",
        "Дания",
        "от 27 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "iceland.jpg",
        "Исландия",
        "от 32 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "holand.jpg",
        "Нидерланды",
        "от 32 000 руб."
      )(class="card--compact")

//- #southeast-asia
+sectionCatalog( "#southeast-asia", "Юго-Восточная Азия")
  - for(i = 0; i < 2; i++)
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "vietnam.jpg",
        "Вьетнам",
        "от 23 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "india.jpg",
        "Индия",
        "от 27 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "indonesia.jpg",
        "Индонезия",
        "от 32 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "cambodia.jpg",
        "Камбоджа",
        "от 32 000 руб."
      )(class="card--compact")

//- #exotic
+sectionCatalog( "#exotic", "Экзотика")
  - for(i = 0; i < 2; i++)
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "australia.jpg",
        "Австралия",
        "от 23 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "dominican.jpg",
        "Доминикана",
        "от 27 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "costa_rica.jpg",
        "Коста-Рика",
        "от 32 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "cuba.jpg",
        "Куба",
        "от 32 000 руб."
      )(class="card--compact")

//- #near-east
+sectionCatalog( "#near-east", "Ближний Восток")
  - for(i = 0; i < 2; i++)
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "azerbaijan.jpg",
        "Азербайджан",
        "от 23 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "armenia.jpg",
        "Армения",
        "от 27 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "bahrain.jpg",
        "Бахрейн",
        "от 32 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "georgia.jpg",
        "Грузия",
        "от 32 000 руб."
      )(class="card--compact")

//- #africa
+sectionCatalog( "#africa", "Африка")
  - for(i = 0; i < 2; i++)
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "gambia.jpg",
        "Гамбия",
        "от 23 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "egypt.jpg",
        "Египет",
        "от 27 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "cape_verde.jpg",
        "Кабо-Верде",
        "от 32 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "kenia.jpg",
        "Кения",
        "от 32 000 руб."
      )(class="card--compact")

//- #south-america
+sectionCatalog( "#south-america", "Южная Америка")
  - for(i = 0; i < 2; i++)
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "argentina.jpg",
        "Аргенитина",
        "от 23 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "brasil.jpg",
        "Бразилия",
        "от 27 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "mexico.jpg",
        "Мексика",
        "от 32 000 руб."
      )(class="card--compact")
    //- item
    .card-carousel__item
      +cardComponent(
        "#",
        "peru.jpg",
        "Перу",
        "от 32 000 руб."
      )(class="card--compact")
