// Hotel tools --------------

.tools-panel {
  display: flex;
}

.tools-panel__item {
  position: relative;

  & + .tools-panel__item {
    margin-left: 35px;

    @include mq("tablet-small", "max") {
      margin-left: 10px;
    }
  }

  &:hover {

    .tools-panel__hint {
      display: block;
    }
  }
}

.tools-panel__icon {
  width: auto;
  height: auto;
}

.tools-panel__button {

  @include buttonReset();

  width: 32px;
  height: 32px;

  &:hover {
    opacity: .8;
  }
}

.tools-panel__button--favorite {
  color: $color-secondary;
}

.tools-panel__button--call {
  color: $color-primary;
}

.tools-panel__hint {
  position: absolute;
  top: 100%;
  left: 50%;
  display: none;
  min-width: max-content;
  padding: 12px;
  border-radius: 10px;
  font-size: 12px;
  background-color: $color-white;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, .35);
  transform: translateX(-50%);
}
// -------------- end hotel tools
