.hotel__tools.tools-panel
  //- item
  .tools-panel__item
    button.tools-panel__button.tools-panel__button--favorite
      +icon("heart", "tools-panel__icon")(width="30px" height="27px")
    .tools-panel__hint Добавить в избранное
  //- item
  .tools-panel__item
    button.tools-panel__button.tools-panel__button--call(data-popup="open" data-popup-id="#popup-special")
      +icon("phone", "tools-panel__icon")(width="26px" height="27px")
    .tools-panel__hint Предварительный заказ
