// panel action
.header__info.panel-action
  // call
  .panel-action__item
    button(type="button" class="panel-action__button")
      +icon("phone")
      span.panel-action__button-toggle
    // tooltip info
    .tooltip-info
      .tooltip-info__item
        .tooltip-info__label Туристам:
        a(href="tel:83452212755" class="tooltip-info__contact") 8 (345) 221-27-55
      .tooltip-info__item
        .tooltip-info__label Агентствам:
        a(href="tel:88007005775" class="tooltip-info__contact") 8 (800) 700-57-75
      .tooltip-info__item
        a(href="#" data-popup="open" data-popup-id="#popup-call" class="tooltip-info__link-call") Заказать звонок
  // address
  .panel-action__item.panel-action__item--hide-on-mobile
    button(type="button" class="panel-action__button")
      +icon("map")
      span.panel-action__button-toggle
    // tooltip info
    .tooltip-info
      .tooltip-info__item
        a(href="#" class="tooltip-info__link") Адреса и контакты
  // currency
  .panel-action__item
    button(type="button" class="panel-action__button")
      +icon("currency")
      span.panel-action__button-toggle
    // tooltip info
    .tooltip-info
      .tooltip-info__item
        .tooltip-info__label Курс на 01.03.20
      .tooltip-info__item
        .tooltip-info__label 1 USD = 69.2054 руб
      .tooltip-info__item
        .tooltip-info__label 1 EUR = 77.7385 руб
  // favorite
  .panel-action__item
    button(type="button" class="panel-action__button")
      +icon("heart")
      span.panel-action__button-toggle
    // tooltip info
    .tooltip-info
      .tooltip-info__item
        a(href="#" class="tooltip-info__link") Избранное
  // entrance
  .panel-action__item
    button(type="button" class="panel-action__button")
      span.panel-action__button-text Войти
      +icon("entrance")
      span.panel-action__button-toggle
    // tooltip info
    .tooltip-info
      include ../../form/form_login
      include ../../form/form_password_recovery
