//- Breadcrumbs
//- items - pages in array, e.g. (['Main page', 'News'])
//- last - last active page in span, e.g. (['Main page', 'News'], 'News detail')
mixin breadcrumbs(items, last)
  .breadcrumb
    ul.breadcrumb__list&attributes(attributes)
      each item in items
        li.breadcrumb__item
          // if breadcrumb is single
          if (items.length === 1)
            span.breadcrumb__link= item
          else
            a(href="#" title=item).breadcrumb__link= item

      if last
        li.breadcrumb__item
          span.breadcrumb__link--current= last
      else

