/* Card component ================ */

$card-transition: all .5s;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-main;
  overflow: hidden;
  color: $color-gray-dark;
  text-align: left;
  background-color: $color-white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .21);
  transition: $card-transition;

  &:focus {
    outline: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -250px;
    left: -250px;
    z-index: 2;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: $color-secondary;
    transition: $card-transition;
  }

  &:hover {
    text-decoration: none;

    &::after {
      bottom: -125px;
      left: -20px;
    }

    .card__footer {
      color: $color-white;
    }

    .card__image img {
      transform: scale(1.2);
    }
  }
}

.card__image {
  width: 100%;
  height: 204px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $card-transition;
  }
}

.card__content {
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.card__footer {
  padding-top: 51px;
}

.card__title {
  font-weight: $text-weight-semibold;
  font-size: $text-size-s;
}

.card__text {
  min-height: 54px;
  font-size: $text-size-xs;
}

.card__footer {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  color: $color-primary;
  transition: $card-transition;

  span {

    &:first-child {
      font-weight: $text-weight-semibold;
      font-size: $text-size-s;
    }

    &:last-child {
      font-size: $text-size-xxs;
    }
  }
}

// Compact -----------------------

.card--compact {

  &::after {
    bottom: -220px;
    left: -220px;
  }

  &:hover {

    &::after {
      bottom: -130px;
      left: -20px;
      width: 200px;
      height: 200px;

      @include mq("tablet-small", "max") {
        bottom: -150px;
        left: -40px;
      }
    }
  }

  .card__image {
    height: 307px;

    @include mq("phone", "max") {
      height: 220px;
    }
  }

  .card__footer {
    padding-top: 32px;

    @include mq("tablet-large", "max") {
      padding-top: 16px;
    }
  }
}
// ----------------------- end compact
/* ================ end card component */
