//- card
mixin cardComponent(href, image, title, price1, text, price2)

  if(text)
    a(href= href, class="card")&attributes(attributes)
      .card__image
        img(src="uploads/" + image, alt= title)
      .card__content
        .card__title= title
        .card__text= text
        .card__footer
          span= price1
          span= price2
  else
    a(href= href, class="card")&attributes(attributes)
      .card__image
        img(src="uploads/" + image, alt= title)
      .card__content
        .card__title= title
        .card__footer
          span= price1
