mixin subheader(titlePage, subtitlePage, image)
  - image = image || "subheader_catalog.jpg"

  //- component
  .subheader(style="background-image: url(uploads/" + image + ");")
    .container
      h1.subheader__title= titlePage
      .subheader__subtitle= subtitlePage
