form(
  id="form-login",
  class="tooltip-info__form form form--login form--show"
)
  .form__group
    +inputComponent(
      "email",
      "Логин (E-mail для частных лиц)"
    )(class="js-mask-email" name="form-login-email" data-msg="Заполните это поле")
  .form__group
    +inputComponent(
      "password",
      "Пароль)"
    )(name="form-login-password" data-msg="Заполните это поле")
  .form__footer
    +buttonComponent(
      "Войти"
    )(class="form__button" type="submit")
    //- link
    button(type="button" class="form__link-forget js-link-forget") Забыли пароль?
