/* News ================ */

.news {
  padding-bottom: 50px;
  margin-top: 180px;

  @include mq("desktop", "max") {
    margin-top: 120px;
  }

  @include mq("tablet", "max") {
    padding-bottom: 0;
    margin-top: 100px;
  }
}

.news__content {
  margin-top: 20px;
}

.news-carousel.slick-dotted {
  margin-bottom: 25px;
}

.news-carousel__item {
  width: 380px;
  margin: 20px;

  @include mq("tablet", "max") {
    margin: 10px;
  }

  @include mq("phone", "max") {
    width: 280px;
  }
}
/* ================ end news */
