// header
header.header.page__header
  .header_container.container
    //- left
    .header_left
      //- logo
      include logo/logo
      // phone
      .header__phone
        | Туристам:
        |
        a(href="tel:88000000000") 8 (800) 000-00-00
    //- right
    .header_right
      // call button
      +buttonComponent(
        "Подобрать мне тур",
        "s",
        "secondary",
        "local"
      )(data-popup="open" data-popup-id="#popup-call" class="header__button-tour")
      //- panel action
      include panel_action/panel_action
      //- menu button
      include button_menu/button_menu
