/* Page first screen ================ */

.page-first-screen {
  padding-top: 70px;
  padding-bottom: 70px;
  background-position: top center;
  background-size: cover;

  @include mq("tablet", "max") {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @include mq("phone", "max") {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-first-screen__title {
  margin: 0;
  color: $color-primary;
  font-weight: $text-weight-bold;
  font-size: $text-size-xl;
}

.page-first-screen__title--white {
  color: $color-white;
}

.page-first-screen__subtitle {
  margin: 0;
  color: $color-primary;
  font-weight: $text-weight-regular;
  font-size: $text-size-l;
}

.page-first-screen__subtitle--white {
  color: $color-white;
}

.page-first-screen__form {
  margin-top: 62px;

  @include mq("tablet", "max") {
    margin-top: 24px;
  }
}
/* ================ end page first screen */
