//- layout/page.pug
extends ../layouts/main_layout

block variables
  - var title = PAGES.hotel.title;
  - var pageClass = "";

//- content
block content
  include ../../lib/hotel/hotel

//-popups
block popups
  include ../../lib/components/popup/popup_review
  include ../../lib/components/popup/popup_special

//- scripts
block scripts

