//- layout/page.pug
extends ../layouts/main_layout

block variables
  - var title = PAGES.home.title;
  - var pageClass = "";

//- content
block content
  include ../../lib/home/first_screen/first_screen
  .section-wrapper
    include ../../lib/home/special/special
    include ../../lib/home/news/news
  include ../../lib/home/consultant/consultant

//-popups
block popups

//- scripts
block scripts
