/* Consultant ================ */

.consultant {
  padding-top: 30px;
}

.consultant__container {
  display: flex;

  @include mq("tablet-small", "max") {
    flex-direction: column;
    align-items: center;
  }
}

.consultant__content {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 40px;

  @include mq("tablet", "max") {
    padding-top: 40px;
  }

  @include mq("tablet-small", "max") {
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
  }
}

.consultant__title {
  margin-top: 0;
  margin-bottom: 15px;
}

.consultant__subtitle {
  font-size: $text-size-l;

  @include mq("laptop-small", "max") {
    font-size: 30px;
  }

  @include mq("tablet", "max") {
    font-size: 22px;
  }

  @include mq("phone-large", "max") {
    font-size: 18px;
  }
}

.consultant__controls {
  margin-top: 80px;

  @include mq("laptop-small", "max") {
    margin-top: 30px;
  }
}

.consultant__button {
  width: 320px;

  @include mq("tablet-small", "max") {
    width: 100%;
  }
}

.consultant__image {
  flex-shrink: 0;
  align-self: flex-end;
  width: 500px;

  @include mq("laptop-small", "max") {
    width: 450px;
  }

  @include mq("tablet", "max") {
    width: 300px;
  }

  @include mq("tablet-small", "max") {
    align-self: center;
  }
}
/* ================ end consultant */
