// consultant
section(id="consultant" class="consultant")
  .consultant__container.container
    .consultant__content
      h2.consultant__title Нужна помощь с выбором?
      .consultant__subtitle Оставьте свой телефон, и мы Вам перезвоним!
      .consultant__controls
        +buttonComponent(
          "Заказать звонок",
          "m",
          "secondary"
        )(class="consultant__button" data-popup="open" data-popup-id="#popup-call")
    .consultant__image
      img(src="images/consultant.png" alt="Консультант")
